<!DOCTYPE html>
<html>
    <head>
        <title>MadLibs</title>
    </head>
    <body>
        <p> Insert game here.</p>

        <form action="/madlib">
            <label>Name a person:<input type="text" name="person" value="type here"></input></label><br />
            <label>Pick a color:
                <select name="favcolor">
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                    <option value="aqua">Aqua</option>
                    <option value="fushia">Fushia</option>
                    <option value="chatruese">Chatruese</option>
                </select>
            </label><br />
            <label>Choose a noun:<input type="text" name="noun"></input></label><br />
            <label>Last but not least, an adjective please:<input type="text" name="adjective"></input></label><br />

            <label><input type="submit">
        </form>

    </body>
</html>