<!DOCTYPE html>
<html>
<head>
    <title>MadLibs-in-One!</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
    <h1>Be mad.....MAD!</h1>
    <br>
    <!-- Below is the initial html on the index page.  All of this gets replaced using javascript in in the js file, AJAX, innerHTML, and may include flask calls with input returned (variables or json) from the controller madlibs.py -->

    <form id="msg-to-user">

        <label id="current-task">
            <!-- Any forms will be populated here using Javascript, JQuery, and AJAX. -->
            Hi There!  What's your name? <input type='text' name='name' id='name-field'>
        </label>

    <!-- All buttons for event handlers are here, but hidden.  Need to exist to event handlers link. -->
        <button id='hello'>Submit</button>
        <button id='game' style='display:none'>To game, or not to game?</button>
    </form>

    <div id="madlib">
        <!-- Where the madlib passed back from the flask controller, as a string, will be placed. -->
    </div>

    <script src="/static/madlibs-scripts.js"></script>

</body>
</html>
